<div class="container dashboard-wrrapper">
    <div class="row">
        <div class="col-md-6 mt-5">
            <mat-card class="dashboard-card">
                <img mat-card-image src="../../../../assets/product.png" alt="Product list">
                <mat-card-content class="d-flex justify-content-center">
                    <button mat-button color="primary" routerLink="/product/list">Product List</button>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6 mt-5">
            <mat-card class="dashboard-card">
                <img mat-card-image src="../../../../assets/atm.png" alt="ATM machine">
                <mat-card-content class="d-flex justify-content-center">
                    <button mat-button color="primary" routerLink="/atm/add-cash">ATM Machine</button>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>